@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-medium text-[#5a3e2b];
    font-family: "Quicksand", sans-serif;
  }
}

@layer components {
  h1 {
    font-family: "Monoton";
    word-spacing: 20px;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

/* .list {
} */

.actions button,
.list select {
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  @apply text-[1.4rem];
  font-weight: 700;
  margin: 0 0.8rem;
}

input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: #e5771f;
}
